In [2]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('APOT_Project_Data_Jan 2017_to_Sept_2022FinalVersion.csv', encoding='latin1')
data

/var/folders/_c/xm6h8y311b3627grfnqxtw340000gn/T/ipykernel_11535/3406046599.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('APOT_Project_Data_Jan 2017_to_Sept_2022FinalVersion.csv', encoding='latin1')

,ID,Hospital Code,Lat,Long,Date,ArrivalDateTime,APOT,Impression,PostalCode,AgencyNumber,Unit,AgenyAndUnit
0,774,475,38.57089,-121.469532,7/19/2017,7/19/2017 16:38,60.00,404,95820,92905,M22,92905-M22
1,776,508,38.554938,-121.456751,7/19/2017,7/19/2017 1:19,6.00,T14.90,95820,92905,M22,92905-M22
2,786,196,38.745633,-121.248948,7/25/2017,7/25/2017 20:03,21.00,R10.0,95821,92905,M22,92905-M22
3,790,475,38.57089,-121.469532,7/28/2017,7/28/2017 10:04,16.00,J98.9,95814,92905,M22,92905-M22
4,794,508,38.554938,-121.456751,7/29/2017,7/29/2017 15:44,17.00,Z74.01,94203,92905,M17,92905-M17
...,...,...,...,...,...,...,...,...,...,...,...,...
640327,ffff70265fcb4e26a85f5c7e712ab1cc,508,38.554938,-121.456751,7/13/2020,7/13/2020 15:28,8.02,G40.909,95742,11805,M32,11805-M32
640328,ffffa67501db454984486d923fa95206,475,38.57089,-121.469532,3/9/2022,3/9/2022 5:44,33.63,J00,95632,90305,M45,90305-M45
640329,ffffa8b0504446a8b46ee93082f3651d,197,38.60186,-121.391908,1/23/2017,1/23/2017 17:28,11.38,F99,95825,11805,M101,11805-M101
640330,ffffad1661de4296947e92e23aaa8253,197,38.60186,-121.391908,4/5/2020,4/5/2020 15:01,18.13,R10.84,95815,11805,M105,11805-M105
640331,ffffde8af5bd43249f17f4411a923ab0,475,38.57089,-121.469532,5/13/2018,5/13/2018 15:57,17.03,O60.0,95842,11805,M24,11805-M24

In [3]:
ems_df = pd.DataFrame(data)
ems_df

,ID,Hospital Code,Lat,Long,Date,ArrivalDateTime,APOT,Impression,PostalCode,AgencyNumber,Unit,AgenyAndUnit
0,774,475,38.57089,-121.469532,7/19/2017,7/19/2017 16:38,60.00,404,95820,92905,M22,92905-M22
1,776,508,38.554938,-121.456751,7/19/2017,7/19/2017 1:19,6.00,T14.90,95820,92905,M22,92905-M22
2,786,196,38.745633,-121.248948,7/25/2017,7/25/2017 20:03,21.00,R10.0,95821,92905,M22,92905-M22
3,790,475,38.57089,-121.469532,7/28/2017,7/28/2017 10:04,16.00,J98.9,95814,92905,M22,92905-M22
4,794,508,38.554938,-121.456751,7/29/2017,7/29/2017 15:44,17.00,Z74.01,94203,92905,M17,92905-M17
...,...,...,...,...,...,...,...,...,...,...,...,...
640327,ffff70265fcb4e26a85f5c7e712ab1cc,508,38.554938,-121.456751,7/13/2020,7/13/2020 15:28,8.02,G40.909,95742,11805,M32,11805-M32
640328,ffffa67501db454984486d923fa95206,475,38.57089,-121.469532,3/9/2022,3/9/2022 5:44,33.63,J00,95632,90305,M45,90305-M45
640329,ffffa8b0504446a8b46ee93082f3651d,197,38.60186,-121.391908,1/23/2017,1/23/2017 17:28,11.38,F99,95825,11805,M101,11805-M101
640330,ffffad1661de4296947e92e23aaa8253,197,38.60186,-121.391908,4/5/2020,4/5/2020 15:01,18.13,R10.84,95815,11805,M105,11805-M105
640331,ffffde8af5bd43249f17f4411a923ab0,475,38.57089,-121.469532,5/13/2018,5/13/2018 15:57,17.03,O60.0,95842,11805,M24,11805-M24

In [4]:
# rename ID columns b/c has space in name 
ems_df = ems_df.rename(columns={"ID ":"ID", "Date ": "Date", "Hospital Code":"Hospital_Code", "AgenyAndUnit": "AgencyAndUnit"})

In [5]:
ems_df = ems_df.dropna()

In [6]:
ems_df2 = pd.DataFrame(ems_df.reset_index(drop=True))
ems_df2

,ID,Hospital_Code,Lat,Long,Date,ArrivalDateTime,APOT,Impression,PostalCode,AgencyNumber,Unit,AgencyAndUnit
0,774,475,38.57089,-121.469532,7/19/2017,7/19/2017 16:38,60.00,404,95820,92905,M22,92905-M22
1,776,508,38.554938,-121.456751,7/19/2017,7/19/2017 1:19,6.00,T14.90,95820,92905,M22,92905-M22
2,786,196,38.745633,-121.248948,7/25/2017,7/25/2017 20:03,21.00,R10.0,95821,92905,M22,92905-M22
3,790,475,38.57089,-121.469532,7/28/2017,7/28/2017 10:04,16.00,J98.9,95814,92905,M22,92905-M22
4,794,508,38.554938,-121.456751,7/29/2017,7/29/2017 15:44,17.00,Z74.01,94203,92905,M17,92905-M17
...,...,...,...,...,...,...,...,...,...,...,...,...
635670,ffff70265fcb4e26a85f5c7e712ab1cc,508,38.554938,-121.456751,7/13/2020,7/13/2020 15:28,8.02,G40.909,95742,11805,M32,11805-M32
635671,ffffa67501db454984486d923fa95206,475,38.57089,-121.469532,3/9/2022,3/9/2022 5:44,33.63,J00,95632,90305,M45,90305-M45
635672,ffffa8b0504446a8b46ee93082f3651d,197,38.60186,-121.391908,1/23/2017,1/23/2017 17:28,11.38,F99,95825,11805,M101,11805-M101
635673,ffffad1661de4296947e92e23aaa8253,197,38.60186,-121.391908,4/5/2020,4/5/2020 15:01,18.13,R10.84,95815,11805,M105,11805-M105
635674,ffffde8af5bd43249f17f4411a923ab0,475,38.57089,-121.469532,5/13/2018,5/13/2018 15:57,17.03,O60.0,95842,11805,M24,11805-M24

In [7]:
# Convert 'Date' to datetime data type
dates = pd.to_datetime(ems_df2['Date'])
dates

0        2017-07-19
1        2017-07-19
2        2017-07-25
3        2017-07-28
4        2017-07-29
            ...
635670   2020-07-13
635671   2022-03-09
635672   2017-01-23
635673   2020-04-05
635674   2018-05-13
Name: Date, Length: 635675, dtype: datetime64[ns]

In [8]:
# Convert 'ArrivalDateTime' to datetime data type
arrival_time = pd.to_datetime(ems_df2['ArrivalDateTime'])
arrival_time

0        2017-07-19 16:38:00
1        2017-07-19 01:19:00
2        2017-07-25 20:03:00
3        2017-07-28 10:04:00
4        2017-07-29 15:44:00
                 ...
635670   2020-07-13 15:28:00
635671   2022-03-09 05:44:00
635672   2017-01-23 17:28:00
635673   2020-04-05 15:01:00
635674   2018-05-13 15:57:00
Name: ArrivalDateTime, Length: 635675, dtype: datetime64[ns]

In [9]:
# create merge_date column so can merge new datatype into new dataframe 
merge_date = ems_df2['Date']
ID = ems_df2['ID']
hospital_code = ems_df2['Hospital_Code']
lat = ems_df2['Lat']
long = ems_df2['Long']
apot = ems_df2['APOT']
impression = ems_df2['Impression']
postal_code = ems_df2['PostalCode']
agency = ems_df2['AgencyNumber']
unit = ems_df2['Unit']
agency_unit = ems_df2['AgencyAndUnit']

In [10]:
new_ems_df = pd.DataFrame({"ID": ID,
                           "Hospital_Code": hospital_code,
                          "Date": dates,
                          "Arrival_Date_Time": arrival_time,
                          "APOT": apot,
                          "Impression": impression,
                          "Postal_Code": postal_code,
                          "AgencyNumber": agency,
                          "Agency_Unit": agency_unit,
                          "Lat": lat,
                          "Long": long})
new_ems_df

,ID,Hospital_Code,Date,Arrival_Date_Time,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long
0,774,475,2017-07-19,2017-07-19 16:38:00,60.00,404,95820,92905,92905-M22,38.57089,-121.469532
1,776,508,2017-07-19,2017-07-19 01:19:00,6.00,T14.90,95820,92905,92905-M22,38.554938,-121.456751
2,786,196,2017-07-25,2017-07-25 20:03:00,21.00,R10.0,95821,92905,92905-M22,38.745633,-121.248948
3,790,475,2017-07-28,2017-07-28 10:04:00,16.00,J98.9,95814,92905,92905-M22,38.57089,-121.469532
4,794,508,2017-07-29,2017-07-29 15:44:00,17.00,Z74.01,94203,92905,92905-M17,38.554938,-121.456751
...,...,...,...,...,...,...,...,...,...,...,...
635670,ffff70265fcb4e26a85f5c7e712ab1cc,508,2020-07-13,2020-07-13 15:28:00,8.02,G40.909,95742,11805,11805-M32,38.554938,-121.456751
635671,ffffa67501db454984486d923fa95206,475,2022-03-09,2022-03-09 05:44:00,33.63,J00,95632,90305,90305-M45,38.57089,-121.469532
635672,ffffa8b0504446a8b46ee93082f3651d,197,2017-01-23,2017-01-23 17:28:00,11.38,F99,95825,11805,11805-M101,38.60186,-121.391908
635673,ffffad1661de4296947e92e23aaa8253,197,2020-04-05,2020-04-05 15:01:00,18.13,R10.84,95815,11805,11805-M105,38.60186,-121.391908
635674,ffffde8af5bd43249f17f4411a923ab0,475,2018-05-13,2018-05-13 15:57:00,17.03,O60.0,95842,11805,11805-M24,38.57089,-121.469532

In [11]:
# Identify dtypes
new_ems_df.dtypes

ID                           object
Hospital_Code                 int64
Date                 datetime64[ns]
Arrival_Date_Time    datetime64[ns]
APOT                        float64
Impression                   object
Postal_Code                  object
AgencyNumber                  int64
Agency_Unit                  object
Lat                          object
Long                         object
dtype: object

In [12]:
new_ems_df.astype({'ID': 'string'}).dtypes

ID                           string
Hospital_Code                 int64
Date                 datetime64[ns]
Arrival_Date_Time    datetime64[ns]
APOT                        float64
Impression                   object
Postal_Code                  object
AgencyNumber                  int64
Agency_Unit                  object
Lat                          object
Long                         object
dtype: object

In [13]:
new_ems_df = new_ems_df.drop_duplicates(subset=['ID'])
new_ems_df

,ID,Hospital_Code,Date,Arrival_Date_Time,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long
0,774,475,2017-07-19,2017-07-19 16:38:00,60.00,404,95820,92905,92905-M22,38.57089,-121.469532
1,776,508,2017-07-19,2017-07-19 01:19:00,6.00,T14.90,95820,92905,92905-M22,38.554938,-121.456751
2,786,196,2017-07-25,2017-07-25 20:03:00,21.00,R10.0,95821,92905,92905-M22,38.745633,-121.248948
3,790,475,2017-07-28,2017-07-28 10:04:00,16.00,J98.9,95814,92905,92905-M22,38.57089,-121.469532
4,794,508,2017-07-29,2017-07-29 15:44:00,17.00,Z74.01,94203,92905,92905-M17,38.554938,-121.456751
...,...,...,...,...,...,...,...,...,...,...,...
635670,ffff70265fcb4e26a85f5c7e712ab1cc,508,2020-07-13,2020-07-13 15:28:00,8.02,G40.909,95742,11805,11805-M32,38.554938,-121.456751
635671,ffffa67501db454984486d923fa95206,475,2022-03-09,2022-03-09 05:44:00,33.63,J00,95632,90305,90305-M45,38.57089,-121.469532
635672,ffffa8b0504446a8b46ee93082f3651d,197,2017-01-23,2017-01-23 17:28:00,11.38,F99,95825,11805,11805-M101,38.60186,-121.391908
635673,ffffad1661de4296947e92e23aaa8253,197,2020-04-05,2020-04-05 15:01:00,18.13,R10.84,95815,11805,11805-M105,38.60186,-121.391908
635674,ffffde8af5bd43249f17f4411a923ab0,475,2018-05-13,2018-05-13 15:57:00,17.03,O60.0,95842,11805,11805-M24,38.57089,-121.469532

In [14]:
# verify no duplicate rows 
dup_rows = new_ems_df[new_ems_df.duplicated(['ID'])]
dup_rows

Empty DataFrame
Columns: [ID, Hospital_Code, Date, Arrival_Date_Time, APOT, Impression, Postal_Code, AgencyNumber, Agency_Unit, Lat, Long]
Index: []

In [15]:
# Calculate unique values for all columns 
# making sure ID values are all unique 
new_ems_df.nunique()

ID                   581496
Hospital_Code            11
Date                   2099
Arrival_Date_Time    519592
APOT                  12065
Impression              343
Postal_Code           23120
AgencyNumber             14
Agency_Unit             464
Lat                      11
Long                     11
dtype: int64

In [5]:
# view new csv file 
new_ems_data = pd.read_csv('new_ems_data.csv')
new_ems_data

/var/folders/_c/xm6h8y311b3627grfnqxtw340000gn/T/ipykernel_13174/954872181.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  new_ems_data = pd.read_csv('new_ems_data.csv')

,Unnamed: 0,ID,Hospital_Code,Date,Arrival_Date_Time,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long
0,0,774,475,2017-07-19,2017-07-19 16:38:00,60.00,404,95820,92905,92905-M22,38.57089,-121.469532
1,1,776,508,2017-07-19,2017-07-19 01:19:00,6.00,T14.90,95820,92905,92905-M22,38.554938,-121.456751
2,2,786,196,2017-07-25,2017-07-25 20:03:00,21.00,R10.0,95821,92905,92905-M22,38.745633,-121.248948
3,3,790,475,2017-07-28,2017-07-28 10:04:00,16.00,J98.9,95814,92905,92905-M22,38.57089,-121.469532
4,4,794,508,2017-07-29,2017-07-29 15:44:00,17.00,Z74.01,94203,92905,92905-M17,38.554938,-121.456751
...,...,...,...,...,...,...,...,...,...,...,...,...
581491,635670,ffff70265fcb4e26a85f5c7e712ab1cc,508,2020-07-13,2020-07-13 15:28:00,8.02,G40.909,95742,11805,11805-M32,38.554938,-121.456751
581492,635671,ffffa67501db454984486d923fa95206,475,2022-03-09,2022-03-09 05:44:00,33.63,J00,95632,90305,90305-M45,38.57089,-121.469532
581493,635672,ffffa8b0504446a8b46ee93082f3651d,197,2017-01-23,2017-01-23 17:28:00,11.38,F99,95825,11805,11805-M101,38.60186,-121.391908
581494,635673,ffffad1661de4296947e92e23aaa8253,197,2020-04-05,2020-04-05 15:01:00,18.13,R10.84,95815,11805,11805-M105,38.60186,-121.391908
581495,635674,ffffde8af5bd43249f17f4411a923ab0,475,2018-05-13,2018-05-13 15:57:00,17.03,O60.0,95842,11805,11805-M24,38.57089,-121.469532

In [6]:
# Filter out codes related to injurys from 'impression' column in ems_df
# Keep current ICD codes per state guidelines 
codes_64 = ['A41.9','E13.64','E13.65','F10.92','F19','F99','G24.0','G40.901','G40.909','G89.1','H57.9','H93.90','I10',
           'I20.9','I21.3','I46.8','I46.9','I49.9','I63.9','I95.9','J00','J68.9','J70.5','J80','J81.0',
           'J96.9','J98.01','K59.1','K92.0','K92.1','M79.60','N39.9','N93.9','O60.0','O80','O99','R00.2','R04.0',
           'R07.89','R10.84','R11.2','R41.0','R41.82','R42','R50.9','R51','R53.1','R55','R68.13','R99','T14.90',
           'T30.0','T58','T63','T67.0','T68','T71.9','T75.1XXA','T75.4','T78.2','T78.40','Z00.00','Z38.2','Z77.9']

codes = new_ems_data[new_ems_data['Impression'].isin(codes_64)]
codes

,Unnamed: 0,ID,Hospital_Code,Date,Arrival_Date_Time,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long
1,1,776,508,2017-07-19,2017-07-19 01:19:00,6.00,T14.90,95820,92905,92905-M22,38.554938,-121.456751
8,8,824,508,2017-08-20,2017-08-20 13:40:00,10.00,G89.1,95831,92905,92905-M17,38.554938,-121.456751
14,14,854,197,2017-09-08,2017-09-08 14:50:00,20.00,T14.90,95608,92905,92905-M17,38.60186,-121.391908
15,15,867,475,2017-09-14,2017-09-14 09:30:00,30.00,R53.1,95624,92905,92905-M23,38.57089,-121.469532
30,30,951,475,2017-10-19,2017-10-19 02:20:00,6.00,R10.84,95816,92905,92905-M17,38.57089,-121.469532
...,...,...,...,...,...,...,...,...,...,...,...,...
581491,635670,ffff70265fcb4e26a85f5c7e712ab1cc,508,2020-07-13,2020-07-13 15:28:00,8.02,G40.909,95742,11805,11805-M32,38.554938,-121.456751
581492,635671,ffffa67501db454984486d923fa95206,475,2022-03-09,2022-03-09 05:44:00,33.63,J00,95632,90305,90305-M45,38.57089,-121.469532
581493,635672,ffffa8b0504446a8b46ee93082f3651d,197,2017-01-23,2017-01-23 17:28:00,11.38,F99,95825,11805,11805-M101,38.60186,-121.391908
581494,635673,ffffad1661de4296947e92e23aaa8253,197,2020-04-05,2020-04-05 15:01:00,18.13,R10.84,95815,11805,11805-M105,38.60186,-121.391908
581495,635674,ffffde8af5bd43249f17f4411a923ab0,475,2018-05-13,2018-05-13 15:57:00,17.03,O60.0,95842,11805,11805-M24,38.57089,-121.469532

In [7]:
new_ems_df = pd.DataFrame(codes)
new_ems_df

,Unnamed: 0,ID,Hospital_Code,Date,Arrival_Date_Time,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long
1,1,776,508,2017-07-19,2017-07-19 01:19:00,6.00,T14.90,95820,92905,92905-M22,38.554938,-121.456751
8,8,824,508,2017-08-20,2017-08-20 13:40:00,10.00,G89.1,95831,92905,92905-M17,38.554938,-121.456751
14,14,854,197,2017-09-08,2017-09-08 14:50:00,20.00,T14.90,95608,92905,92905-M17,38.60186,-121.391908
15,15,867,475,2017-09-14,2017-09-14 09:30:00,30.00,R53.1,95624,92905,92905-M23,38.57089,-121.469532
30,30,951,475,2017-10-19,2017-10-19 02:20:00,6.00,R10.84,95816,92905,92905-M17,38.57089,-121.469532
...,...,...,...,...,...,...,...,...,...,...,...,...
581491,635670,ffff70265fcb4e26a85f5c7e712ab1cc,508,2020-07-13,2020-07-13 15:28:00,8.02,G40.909,95742,11805,11805-M32,38.554938,-121.456751
581492,635671,ffffa67501db454984486d923fa95206,475,2022-03-09,2022-03-09 05:44:00,33.63,J00,95632,90305,90305-M45,38.57089,-121.469532
581493,635672,ffffa8b0504446a8b46ee93082f3651d,197,2017-01-23,2017-01-23 17:28:00,11.38,F99,95825,11805,11805-M101,38.60186,-121.391908
581494,635673,ffffad1661de4296947e92e23aaa8253,197,2020-04-05,2020-04-05 15:01:00,18.13,R10.84,95815,11805,11805-M105,38.60186,-121.391908
581495,635674,ffffde8af5bd43249f17f4411a923ab0,475,2018-05-13,2018-05-13 15:57:00,17.03,O60.0,95842,11805,11805-M24,38.57089,-121.469532

In [8]:
new_ems_df.dtypes.index

Index(['Unnamed: 0', 'ID', 'Hospital_Code', 'Date', 'Arrival_Date_Time',
       'APOT', 'Impression', 'Postal_Code', 'AgencyNumber', 'Agency_Unit',
       'Lat', 'Long'],
      dtype='object')

In [9]:
new_ems_df = new_ems_df.drop(columns=['Unnamed: 0'])
new_ems_df

,ID,Hospital_Code,Date,Arrival_Date_Time,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long
1,776,508,2017-07-19,2017-07-19 01:19:00,6.00,T14.90,95820,92905,92905-M22,38.554938,-121.456751
8,824,508,2017-08-20,2017-08-20 13:40:00,10.00,G89.1,95831,92905,92905-M17,38.554938,-121.456751
14,854,197,2017-09-08,2017-09-08 14:50:00,20.00,T14.90,95608,92905,92905-M17,38.60186,-121.391908
15,867,475,2017-09-14,2017-09-14 09:30:00,30.00,R53.1,95624,92905,92905-M23,38.57089,-121.469532
30,951,475,2017-10-19,2017-10-19 02:20:00,6.00,R10.84,95816,92905,92905-M17,38.57089,-121.469532
...,...,...,...,...,...,...,...,...,...,...,...
581491,ffff70265fcb4e26a85f5c7e712ab1cc,508,2020-07-13,2020-07-13 15:28:00,8.02,G40.909,95742,11805,11805-M32,38.554938,-121.456751
581492,ffffa67501db454984486d923fa95206,475,2022-03-09,2022-03-09 05:44:00,33.63,J00,95632,90305,90305-M45,38.57089,-121.469532
581493,ffffa8b0504446a8b46ee93082f3651d,197,2017-01-23,2017-01-23 17:28:00,11.38,F99,95825,11805,11805-M101,38.60186,-121.391908
581494,ffffad1661de4296947e92e23aaa8253,197,2020-04-05,2020-04-05 15:01:00,18.13,R10.84,95815,11805,11805-M105,38.60186,-121.391908
581495,ffffde8af5bd43249f17f4411a923ab0,475,2018-05-13,2018-05-13 15:57:00,17.03,O60.0,95842,11805,11805-M24,38.57089,-121.469532

In [10]:
new_ems_df = pd.DataFrame(new_ems_df.reset_index(drop=True))
new_ems_df

,ID,Hospital_Code,Date,Arrival_Date_Time,APOT,Impression,Postal_Code,AgencyNumber,Agency_Unit,Lat,Long
0,776,508,2017-07-19,2017-07-19 01:19:00,6.00,T14.90,95820,92905,92905-M22,38.554938,-121.456751
1,824,508,2017-08-20,2017-08-20 13:40:00,10.00,G89.1,95831,92905,92905-M17,38.554938,-121.456751
2,854,197,2017-09-08,2017-09-08 14:50:00,20.00,T14.90,95608,92905,92905-M17,38.60186,-121.391908
3,867,475,2017-09-14,2017-09-14 09:30:00,30.00,R53.1,95624,92905,92905-M23,38.57089,-121.469532
4,951,475,2017-10-19,2017-10-19 02:20:00,6.00,R10.84,95816,92905,92905-M17,38.57089,-121.469532
...,...,...,...,...,...,...,...,...,...,...,...
543824,ffff70265fcb4e26a85f5c7e712ab1cc,508,2020-07-13,2020-07-13 15:28:00,8.02,G40.909,95742,11805,11805-M32,38.554938,-121.456751
543825,ffffa67501db454984486d923fa95206,475,2022-03-09,2022-03-09 05:44:00,33.63,J00,95632,90305,90305-M45,38.57089,-121.469532
543826,ffffa8b0504446a8b46ee93082f3651d,197,2017-01-23,2017-01-23 17:28:00,11.38,F99,95825,11805,11805-M101,38.60186,-121.391908
543827,ffffad1661de4296947e92e23aaa8253,197,2020-04-05,2020-04-05 15:01:00,18.13,R10.84,95815,11805,11805-M105,38.60186,-121.391908
543828,ffffde8af5bd43249f17f4411a923ab0,475,2018-05-13,2018-05-13 15:57:00,17.03,O60.0,95842,11805,11805-M24,38.57089,-121.469532

In [ ]:
# create the output file(CSV)
output_data_file = "final_ems_data.csv"
# Export the new_ems_df into a CSV
new_ems_df.to_csv(output_data_file, index_label="index")